.allBlogsCtn {
  margin-top: 50px;
  margin-bottom: 50px;
}

.categoriesNav h6 {
  margin: 0;
}

/* .blogBackground {
  background-color: #fff;
} */

.sideBar {
  top: 0;
  transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .allBlogsCtn {
    margin-top: 80px;
  }
}
